### Symfony ###
/var/
/vendor/
/node_modules/
/public/bundles/
/public/build/

### Environnement ###
.env.local
.env.local.php
.env.*.local

### JWT ###
/config/jwt/*.pem

### Logs ###
*.log

### Cache ###
/.phpunit.result.cache

### IDE ###
/.vscode/
/.idea/

### OS ###
.DS_Store
Thumbs.db